/* Navbar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: var(--size-20) var(--size-40);
}

[aria-controls="navbarDropdown"]{
  display: none;
}

.logo-brand{
  width: var(--size-150);
}

.logo-brand img{
  width: 100%;
}

.navbar-links a:not(:last-child){
  padding: var(--size-10);
  color: var(--font-color-main);
  font-size: var(--size-14);
}


.navbar-links{
  padding: var(--size-20) var(--size-14);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-links a{
  margin-left: var(--size-40);
}

/* hero section */
#top-background{
  width:100%;
  position: absolute;
  top: -1px;
  left: 0.5px;
  z-index: -1;
  overflow: hidden;
  padding-bottom: var(--size-100);
}
.background-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.vector1{
  width: 100%;
  height: 32.31rem;
  position: relative;
  top: 0px;
  left: 0px;
  background: linear-gradient(312.27deg, var(--grad1) 17.61%, var(--grad2) 55.85%);
  /* z-index: 100; */
  transform: skew(-30deg, -10deg);

}

/* .vector1:after{
  transform:rotate(30deg);
} */

.vector2{
position: absolute;
width: 100%;
height: 443px;
left: 44.47rem;
top: 0px;
background-color: #e1e7ef;
translate: 170px -145px;
scale: 1.25;
transform: skew(-20deg, -10deg);

}

.hero{
  width: 100%;
  padding: var(--size-40);
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.hero-left-panel,
.hero-right-panel{
  width: 50%;
  background-color: transparent;
}
/* .hero-right-panel{
  position: relative;
  top: var(--size-40);
  left: 500px;
} */


.hero-left-panel h1, .hero-left-panel p, .sitemap-card h3{
  margin:0;
}


.hero-left-panel h1{
  font-weight: 500;
  line-height: var(--size-50);
  font-size: var(--size-40);
}

.hero-left-panel p{
  font-size: var(--size-14);
  line-height: var(--size-16);
  padding-top: 10px;
}

.options{
  padding-top: var(--size-40);
  display: flex;
  flex-direction: row;
  gap: var(--size-10);
  align-items: center;
}
.options a{
  display: flex;
  flex-direction: row;
}

.options a:nth-child(2), .benefits-showcase-card a{
  font-weight: 600;
  color: var(--link);
  font-size: var(--size-14);
  padding-left: var(--size-10);
}
.logos-wrapper{
  display: block;
  position: relative;
}

.img_a,
.img_b, 
.img_c,
.img_d,
.img_e,
.img_f,
.img_g{
  background-color: white;
  box-shadow: 0 3px 10px rgba(12, 12, 12, .30);
  position:absolute;
  /* display:inline-block; */
}

.img_a,
.img_b, 
.img_c,
.img_f,
.img_g{

  padding: var(--size-16);
  border-radius: var(--size-40);
}

.hero-right-panel  img{
  width: var(--size-50);
}

.hero-right-panel div.img_e img,
.hero-right-panel div.img_d img{
  width: var(--size-30);
}
.img_e,
.img_d{
  padding: var(--size-14);
  border-radius: var(--size-40);

}


/* asana */
.img_a{
  top:0;
  left: 375px;
}
/* atlassian */
.img_b{
  top: 0;
  left: 180px;
}
/* calendar */
.img_c{
  top: 290px;
  left: 375px;
}

/* google-A */
.img_d{
  top:275px;
  left: 165px;
}

/* google */
.img_e{
  top: 0;
  left: 15px;
}

/* paypal */
.img_f{
  top:var(--size-150);
  left: 0;
}

/* weave */
.img_g{
top: var(--size-150);
left: 250px;
}
/* .logo-a img{
  width: var(--size-40);
}

.logo-b img{
  width: calc(var(--size-40) + 8px); */
/* } */

/* benefits section */
.benefits{
  background-color: transparent;
  margin-top: var(--size-80);
}
.benefits-block-text, .persuasion-block-text{
  text-align: center;
}

.benefits-block-text h3, .persuasion-block-text h3, .pricing-header h3{
  margin: 0;
  font-size: calc(var(--size-20) + 6px);
}

.benefits-block-text p, .persuasion-block-text p{
  margin: 0;
  padding: var(--size-10);
  font-weight: 500;
}
.benefits-showcase{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.benefits-showcase{
  gap: var(--size-30);
  padding: var(--size-30);
  justify-content: center;
}

.benefits-showcase-card{
  width: fill;
  height: hug;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  padding: var(--size-20);
}

.benefits-showcase-card img{
  width: 48px;
}

.bonus{
}

.bonus h4 > span{
  margin-left: var(--size-10);
  font-size: var(--size-12);
  padding: 4px var(--size-10);
  background-color: var(--bonus);
  color: white;
  font-weight: 800;
  border-radius: var(--size-30);
}

.bonus p{
  line-height: 24px;
  font-size: var(--size-14);
  weight: 500;
}

.video-1{
  display: flex;
  flex-direction: row;
  background-color: #F8FAFE;
  padding-top: 150px;
  margin: 0 var(--size-30);
}

.video-1-block-text{
  align-items: flex-start;
  padding:var(--size-30);
}
.video-1-block-text, .video-1-panel{
  width: 50%;
}
.video-1-block-text h3{
  font-weight: 500;
  font-size: 26px;
}

.video-1-panel img{
  position: relative;
  top: 4px;
  left: -26px;
  align-items: end;
  width: 500px;
}

/* persuasion section */
.persuasion{
  margin: var(--size-80) 0;
  gap: var(--size-60);
}
.persuasion-graphic{

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bullet{
  display: flex;
  flex-direction: column;
  text-align:center;
}
.bulletpoint{
  align-items:center;
  display: flex;
  flex-direction: row;
}
.bulletpoint .circle{
  color: var(--link);
  background-color: #ECF2FF;
  width: 50px;
  height: 50px;
  border-radius: var(--size-30);
  align-items: center;
  justify-content: center;
}

.line{
  width: var(--size-60);
  background-color: #ECF2FF;
  height: 1px;
}

.hide{
  background-color: white;
}

.bullet h4{
  font-size: var(--size-16);
  font-weight: 500;
}

/* second video section */

.video-2{
  margin: var(--size-100) var(--size-30);
}
.video-wrapper{
  position:relative;
}
.video-wrapper img{
  width: 100%;
}

.play-button{
  position: absolute;
  background-color: white;
  left: 45%;
  top:45%;
  color: var(--font-color-main);
  padding: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  border-radius: 50%;
  font-size: var(--size-30);
  text-align:center;
}

/* testimonial section */

.testimonial{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  gap: 60px;
}


.testimonial-img-panel .img-wrapper{
  position: relative;
  height: 450px;
  width: 450px;
}
.testimonial-img-panel img:nth-child(1){
  position:absolute;
  width: 370px;
  left: 80px;
}
.testimonial-img-panel img:nth-child(2){
  display:inline;
  position:absolute;
  z-index: -1;
  left: 28px;
  top: 95px;
  width: 200px;
  height: auto;
}

.testimonial-block-text{
  width: 100%;
  flex: 1;
}

.testimonial-block-text{
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding:50px 30px;
}

.testimonial-block-text img{
  width: 100px;
}

.testimonial-block-text h3{
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.person-tag{
  display: flex;
  flex-direction: column;
}

.person-tag h4{
  margin: 0;
}

.person-tag span,
.pricing-header span,
.checkbox span{
  font-size: var(--size-14);
  color: var(--font-color-main);
}

/* branding section */

.branding{
  margin-top: var(--size-80);
  padding-bottom: 80px;
}
.brand-header{
  text-align: center;
  color: var(--font-color-main);
}

.brand-header h3{
  font-size: var(--size-20);
}

.brand-logos{
  display:flex;
  flex-direction: row;
  gap: var(--size-100);
  justify-content: center;
  padding: var(--size-30) 0;
}

.brand-logos .img-wrapper{
  width: 100px;
}

.brand-logos .img-wrapper img{
  width: 100%;
}

/* pricing section */

.pricing-header{
  text-align: center;
  gap: var(--size-14);
}

.pricing-header span{
  font-size: 16px;
}

.pricing-panel{
  display:flex;
  flex-direction:row;
  padding: var(--size-50) var(--size-40);
  flex: 1 2;
  gap: var(--size-30);
}
.price-card{
  padding: var(--size-80) var(--size-40) var(--size-40) var(--size-40);
  border: white;
  box-shadow: 0 10px 20px 0px rgb(0 0 0 / 15%);
}

.price-card a{
  width: fit-content;
}

.ad-panel{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--size-20);
}

.price-card h3{
  font-size: var(--size-50);
  font-weight: 500;
  margin: 0;
}
.price-card hr{
  margin: var(--size-20) 0;
}
.price-card h3 > span{
  font-size: var(--size-20);
  color: var(--font-color-main);
}

.price-card p{
  font-size: var(--size-16);
  margin-bottom: var(--size-30);
}
.price-card > span{
  display: block;
  padding-top: var(--size-12);
  font-size: var(--size-12);
  color: var(--font-color-main);
}

.ad-panel-card{
  padding: var(--size-20);
  border: white 1px solid;
  gap: var(--size-20);
}

.ad-panel-card img{
  width: var(--size-40);
  height: var(--size-40);
}

.ad-panel-card h4,
.ad-panel-card p{
  margin: 0;
}

/* service-form */

.service-form{
  display: flex;
  flex-direction: row;
  flex: none;
  background-color: #20335B;
  gap: var(--size-60);
  align-items: center;
}

.service-form-testimonial-panel{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--size-70);
  gap: var(--size-60);
}

.testimonial-panel-top p{
  padding-top: 10px;
}

.testimonial-panel-top h3{
  color: var(--white);
  font-size: calc(var(--size-20) + 6px);
}

.testimonial-panel-top hr{
  margin: var(--size-30) 0 var(--size-20) 0;
  width: 50%;
}

.testimonial-panel-top .quote{
  color: var(--white);
  font-style:italic;
}

.testimonial-panel-top *:not(hr){
  margin: 0;
}

.name-tag h4{
  color: white;
  font-size: var(--size-18);
  margin: 0 0 4px 0;
}

.name-tag span{
  color: var(--font-color-dark);
  font-size: var(--size-14);
}

.profile-pics{
  display: flex;
  flex-direction: row;
  gap: var(--size-30);
  align-items: center;
  padding-top: var(--size-60);
}

.profile-pics img{
  width: var(--size-40);
  height: var(--size-40);
  border-radius: var(--size-30);
}
.profile-pics img.magnify{
  width:var(--size-60);
  height:var(--size-60);
}


/* sign-up form */


.sign-up-form{
  /* padding: 30px; */
padding: 30px;
  width: fit-content;
}
.sign-up-form > form {
  border: none;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--white);
}

.sign-up-form form input{
  border-radius: 4px;
  padding: var(--size-10);
  border: 1px var(--font-color-main) solid;
}


form.col{
  gap: 20px;
}

.form-input{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.selector{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--font-color-main);
  align-items: center;
  border-radius: 4px;
}

 .form-input > .selector > input{
  border: none;
  width: 178px;
}

.form-input > input, .form-input > .selector{
  width: 50%;
}

div.checkbox >input{
  width: 50px;
}

.selector > i {
  padding-right: var(--size-10);
}

.priv{
  justify-content: center;
}

.priv a{
  border-bottom: dotted;
  font-weight: 600;
}

.priv a:first-child{
  color: var(--font-color-main);
}

.priv a:last-child{
  color: var(--link);
}

form > a{
  text-align:center;
  margin:var(--size-20) auto 0 auto;
  font-weight: 400 !important;
  font-size: var(--size-12);
}

/* footer section */
footer{
  padding: var(--size-30);
  margin-top: var(--size-50);
  /* border-bottom: solid 2px var(--font-color-main); */
}

.footer-sitemap{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap:var(--size-40);
  padding-bottom: var(--size-40);
  border-bottom: solid 1px lightgray;
  /* padding: var(--size-30); */
}

footer p, footer li{
  color: var(--font-color-main);
  font-size: var(--size-14);
  margin: 0;
}

.footer-sitemap-address p:last-child{
  color: var(--link);
}
.site-map-card-panel{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-40);
}
.sitemap-card ul{
  display: flex;
  flex-direction: column;
  gap: var(--size-12);

}
.footer-sitemap-address, 
.sitemap-card{
  gap: var(--size-10);
}

.crumb-navigation span{
  font-size: var(--size-14);
  color: var(--font-color-main);
}


.footer-miscellaneous{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-media{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-20);
  align-items: center;
}

.social-media a{
  padding: 8px 5px;
  background-color: #ECF2FF;
  color: gray;
  border-radius: 8px;
}

.social-media a.clicked{
  background-color: var(--font-color-main);
  color: white;
}

div.dropdown{
  background-color: #ECF2FF;
  align-items: center;
  gap: 5px;
  padding: 8px 8px;
  border-radius: 8px;
}

.footer-copyright{
  text-align: center;
  font-size: var(--size-16);
  font-weight: 500;
  margin-top: var(--size-50) auto 0 auto;
  display: flex;
  flex-direction: column;
  gap:var(--size-30);
  justify-content: center;
  /* padding: 0 var(--size-100); */
  color: var(--font-color-main);
}

.footer-copyright p:nth-child(2){
  line-height: var(--size-20);
  width: 50%;
  margin: 0 auto;
}