@media screen and (max-width: 1023px){

  /* navbar-button section */

  

  .navbar-links{
    display: none;
  }

  [aria-controls="navbarDropdown"]{
    display: block;
    border: none;
    position: absolute;
    top: var(--size-40);
    right: var(--size-20);
    color: var(--font-color-main);
    background-color: transparent;
    font-size: var(--size-16);
  }

  .navbar span{
    cursor: pointer;
    pointer-events: none;
  }

  [aria-expanded="false"] ~ div.navbar-links{
    display: none;
  }

  [aria-expanded="true"] ~ div.navbar-links{
    padding: 10px 0;
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    border-top: solid 1px var(--font-color-main);
    background-color: white;
    text-align: center;
  }

  [aria-expanded="true"] ~ div.navbar-links > a.btn-1{
    display: block;
    text-align: center;
    margin: var(--size-20) auto;
    width: fit-content;
  }

  /* hero section */

  .hero{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-right-panel{
    margin-left: -200px;
  }

  .hero-left-panel{
    text-align: center;
    margin-bottom: var(--size-20);
  }

  .options{
    justify-content: center;
  }

  /* benefits section */
  .benefits-showcase{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* video-1 section */

  .video-1{
    flex-direction: column;
    padding: 0;
  }

  .video-1-block-text,
  .video-1-panel{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .video-1-panel img{
    width: 100%;
    position: static;
  }

  /* persuasion section */

  /* testimonial section */

  .testimonial{
    flex-direction: column;
    align-items: center;
  }

  .testimonial-block-text{
    text-align: center;
    padding: 0;
  }

  .testimonial-block-text img{
    margin: 0 auto;
  }
  .testimonial-block-text h3{
    padding: 0 var(--size-30);
  }

  /* pricing section */

  .pricing-panel{
    flex-direction: column;
  }

  .person-tag h4{
    font-size: var(--size-18);
  }

  .price-card{
    text-align: center;
  }

  .price-card a.btn-1{
    margin: 0 auto;
  }

  /* service form section */

  .service-form{
    flex-direction: column;
    gap: var(--size-10);
  }

  .service-form-testimonial-panel{
    flex-direction: row;
    padding: var(--size-30);
  }

  .testimonial-panel-top hr{
    width: 100%;
  }

  .profile-pics{
    padding-top: var(--size-30);
  }
  .priv{
    justify-content: left;
    gap: var(--size-20);
    margin-left: 55px;
  }

  .site-map-card-panel{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--size-40);
  }

  .footer-sitemap{
    justify-content: center;
  }

}

@media screen and (max-width: 767px){
  .benefits-showcase{
    display: flex;
    flex-direction: column;
  }
  .vector2{
    translate: -25px -111px;
  }
  /* persuasion */

  .persuasion-graphic{
    display: flex;
    flex-direction: column;
    padding-left: var(--size-30);
    margin: 0 auto;
  }

  .bullet{
    display: flex;
    flex-direction: row;
    gap: var(--size-20);
  }

  .line{
    display: none;
  }

  /* branding section */

  .brand-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand-logos .img-wrapper{
    width: 50%;
  }

  /* pricing section */

  .components{
    display: flex;
    flex-direction: column;
  }

  /* service-form */

  .service-form-testimonial-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-panel-top{
    text-align: center;
  }

  .testimonial-panel-top br{
    display: none;
  }

  .form-input{
    flex-direction: column;
  }

  .form-input > input,
  .form-input > .selector{
    width: 100%;
  }

  /* footer */
  .footer-sitemap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-map-card-panel{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-miscellaneous{
    display: flex;
    flex-direction: column;
  }

  .social-media > li:last-child{
    display: block;
  }

  .footer-copyright p:nth-child(2){
    width: 75%;
  }

  .footer-sitemap-address{
    align-items: center;
  }



}

@media screen and (min-width: 375px) and (max-width: 766px){
  .vector2{
    translate: -375px -49px;
  }

  .benefits{
    margin-top: var(--size-150);
  }

  .hero-left-panel h1{
    text-indent: -40px;
  }
}

@media screen and (max-width: 550px){
  .img_a{
    top:0;
    left: 260px;
  }
  /* atlassian */
  .img_b{
    top: 0;
    left: 100px;
  }
  /* calendar */
  .img_c{
    top: 290px;
    left: 250px;
  }
  
  /* google-A */
  .img_d{
    top:275px;
    left: 120px;
  }
  
  /* google */
  .img_e{
    top: 0;
    left: 0px;
  }
  
  /* paypal */
  .img_f{
    top:var(--size-150);
    left: 0;
  }
  
  /* weave */
  .img_g{
  top: var(--size-150);
  left: 175px;
  }

  /* testimonial pic */

  /* .testimonial-img-panel .img-wrapper{
    max-width: 300px;
    margin: 0 auto;
  } */


  [aria-expanded="true"] ~ div.navbar-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  [aria-expanded="true"] ~ div.navbar-links a{
    margin-left: 0;
  }

  .testimonial-img-panel .img-wrapper{
    position: relative;
    height: 450px;
    width: 450px;
  }
  .testimonial-img-panel .img-wrapper img:nth-child(1){
    position:absolute;
    max-width: 300px;
    left: 100px;
  }
  .testimonial-img-panel .img-wrapper img:nth-child(2){
    display:inline;
    position:absolute;
    z-index: -1;
    left: var(--size-60);
    top: 20px;
    max-width: 275px;
    height: auto;
  }

}