@media screen and (max-width: 768px){
  .navbar-links{
    display: none;
  }

  [aria-controls="navbarDropdown"]{
    display: block;
    border: none;
    color: var(--font-color-main);
    background-color: transparent;
    font-size: var(--size-16);
  }

  [aria-expanded="false"] ~ div.navbar-links{
    display: none;
  }

  [aria-expanded="true"] ~ div.navbar-links{
    display: block;
  }

  .hero{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .benefits-showcase{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hero-left-panel{
    text-align: center;
  }

  .options{
    justify-content: center;
  }

  .video-1{
    flex-direction: column;
    padding: 0;
  }
  .video-1-block-text,
  .video-1-panel{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .video-1-panel img{
    width: 100%;
    position: static;
  }

  .testimonial{
    flex-direction: column;
    align-items: center;
  }

  .testimonial-block-text{
    text-align: center;
    padding: 0;
  }
  .testimonial-block-text img{
    margin: 0 auto;
  }
  .testimonial-block-text h3{
    padding: 0 var(--size-30);
  }

  .person-tag h4{
    font-size: var(--size-18);
  }

  .pricing-panel{
    flex-direction: column;
  }

  .service-form{
    flex-direction: column;
    gap: var(--size-10);
  }

  .service-form-testimonial-panel{
    flex-direction: row;
    padding: var(--size-30);
  }

  .testimonial-panel-top hr{
    width: 100%;
  }

  .profile-pics{
    padding-top: var(--size-30);
  }

  .site-map-card-panel{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--size-40);
  }

  .footer-sitemap{
    justify-content: center;
  }
}

@media screen and (max-width: 768px){
  .benefits-showcase{
    display: flex;
    flex-direction: column;
  }

  .persuasion-graphic{
    display: flex;
    flex-direction: column;
    padding-left: var(--size-30);
  }

  .bullet{
    display: flex;
    flex-direction: row;
    gap: var(--size-20);
  }
  
  .line{
    display: none;
  }
}